KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/boot/lgdt.o \
$(ARCHDIR)/boot/lidt.o \
$(ARCHDIR)/boot/reload_segments.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/tty.o \

KERNEL_ARCH_IRQ_OBJS=\
$(ARCHDIR)/irq/irq.o \
$(ARCHDIR)/irq/isr.o \
$(ARCHDIR)/irq/faults.o \
